#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Qt;Development;Emulator
Exec=/usr/bin/firebird
Name=Firebird Emu
GenericName=TI-Nspire Emulator
Terminal=false
Type=Application
Icon=firebird
