#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Qt;Development;Emulator
Exec=/usr/bin/nspire_emu
Name=nspire_emu-qt
GenericName=TI-Nspire Emulator
Terminal=false
Type=Application
Icon=nspire_emu
