[Desktop Entry]
Categories=Qt;Development;Emulator
Exec=firebird-emu
Name=Firebird Emu
GenericName=TI-Nspire Emulator
Terminal=false
Type=Application
Icon=firebird
