[Desktop Entry]
Categories=Qt;DesktopUtility;System;Emulator;Education;Math
Exec=firebird-emu
Name=Firebird Emu
GenericName=TI-Nspire Emulator
Terminal=false
Type=Application
Icon=firebird
