[Desktop Entry]
Categories=Qt;System;Emulator;Education;Math;
Exec=firebird-emu
Name=Firebird Emu
GenericName=TI-Nspire Emulator
Terminal=false
Type=Application
Icon=org.firebird-emus.firebird-emu
